trigger:
  branches:
    include:
    - main
    - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '22.12.0'

steps:
- task: NodeTool@0
  displayName: 'Use Node.js $(nodeVersion)'
  inputs:
    versionSpec: '$(nodeVersion)'

- script: |
    echo "//registry.npmjs.org/:_authToken=$(NPM_TOKEN)" >> .npmrc
  displayName: 'Configure npm authentication'

- script: |
    npm ci --legacy-peer-deps
  displayName: 'Install dependencies'

- script: |
    npm run build:multirepo
  displayName: 'Build project'

- task: PublishBuildArtifacts@1
  displayName: 'Publish build artifacts'
  inputs:
    PathtoPublish: 'dist/shell/browser'
    ArtifactName: 'shell-build'

- task: netlify-cli-deploy@1
  displayName: 'Deploy to Netlify'
  inputs:
    netlifyAuthToken: '$(NETLIFY_AUTH_TOKEN)'
    siteName: 'shell-multirepo'
    buildDirectory: 'dist/shell/browser'
    productionDeploy: true
